
.verticle-spacer{
  padding: 200px;
}

body {
  background: linear-gradient(to bottom right, red, yellow);
  height: 100vh;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

input {
 display: inline-block;
 border: none;
 box-sizing: border-box;
 padding: 12px;
 background-color: rgba(255, 255, 255, 0.548);
 text-align: left;
 width: 260px;
 margin-left: 40px;
}

ul {
  border: none;
  padding: none;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  margin-top: none;
  
}
ul li {
 
 border: none;
 padding: 12px;
 background-color: rgba(255, 255, 255, 0.548);
 text-align: left;
 list-style-type: none;
}
 
ul li:hover {
  background-color: #d81a1a62;
}